@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #000814;
}

/* Navbar style */
.navbar {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    border-bottom: .5px solid #ffffff52;
    border-width: 80%;
    margin-bottom: 1rem;
    background: rgb(26, 25, 25);
    z-index: 3;
}

.left-nav {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
}

.left-nav img {
    width: 80%;
    height: 100%;
    object-fit: cover;
    position: relative;
    cursor: pointer;
}

.left-nav h2 {
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-nav ul {
    display: flex;
}

.right-nav li {
    list-style: none;
}

.right-nav ul li a {
    text-decoration: none;
    padding: 5px 0.5rem;
    margin: 0 10px;
    color: rgb(254, 254, 254);
    position: relative;
    border-radius: 5px;
    transition: all 0.4s;
}

.right-nav ul li a:hover {
    text-shadow: 0 0 5px rgb(254, 254, 254); /* Adjust the shadow size and color as needed */
    box-shadow: 0 0 10px rgba(68, 130, 230, 0.8); /* Adjust the shadow size and color as needed */
    border-radius: 5px;
}

.right-nav ul li a::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border-top: 1px solid rgb(68, 130, 230);
    border-left: 1px none rgb(68, 130, 230);
    border-radius: 5px;
    transition: all .4s;
}

.right-nav ul li a::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    border-bottom: 1px none rgb(68, 130, 230);
    border-right: 1px solid rgb(68, 130, 230);
    border-radius: 5px;
    transition: all .4s;
}

.right-nav ul li a:hover:after,
.right-nav ul li a:hover::before {
    content: '';
    width: 10%;
    height: 20%;
}

.checkBtn {
    display: none;
}

#check {
    display: none;
}

.checkBtn {
    cursor: pointer;
    font-size: 30px;
    float: right;
    color: white;
    line-height: 80px;
}

@media(max-width: 868px) {
    .list {
        width: 40%;
        height: 100vh;
        background-color: rgb(26, 25, 25);
        text-align: center;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 4rem;
        left: 100%;
        transition: all 0.5s;
    }

    .list li {
        padding: 20px 0;
    }

    #check {
        display: none;
    }

    .checkBtn {
        display: block;
    }

    #check:checked~ul {
        left: 0%;
    }
}

/* Home Section style */
#home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 8rem 2rem;
    width: 80%;
    margin: 0 auto;
}

.home-left,
.home-right {
    width: 40%;
    padding: 2rem 1rem;
}

.text {
    position: relative;
    color: #3a86ff;
    font-size: 30px;
    font-weight: medium;
}

.text.first-text {
    color: #ffffff;
}

.text.sec-text:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000814;
    border-left: 2px solid #3a86ff;
    animation:  animates 4s steps(12) infinite;
}

@keyframes animates {
    40%, 60% {
        left: calc(100% + 4px);
    }
    100% {
        left: 0%;
    }
}

.home-left h6 {
    color: #e5e5e5;
    margin: 1rem 0;
    margin-left: 3px;
    font-size: 1.2rem;
}

.home-left p {
    color: #5f5ff6;
    margin: 1rem 0;
    margin-left: 3px;
    font-size: 18px;
    font-weight: medium;
}

.home-left h1 {
    color: #ffffff;
    font-size: 2.3rem;
}

.home-left button {
    background-color: transparent;
    color: #3a86ff;
    padding: 8px;
    border: 2px solid #3a86ff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s;
}

#resume {
    padding: 10px;
    background: #3a86ff;
    color: #000814;
    border-radius: 5px;
    transition: all 0.4s;
}

.home-left button:hover,
#resume:hover {
    color: #ffffff;
}

.home-right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-right img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    border-radius: 62%;
    height: 100%;
}

.circle {
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    padding: .5rem;
    position: relative;
}

@media(max-width: 868px) {
    #home {
        padding: 10px;
    }

    .home-right img {
        width: 15rem;
        height: 15rem;
    }

    #resume {
        display: flex;
        flex-wrap: wrap;
    }
}

/* About Me style */
.about-container {
    width: 100%;
    padding: 50px 8%;
}

.imageSection {
    grid-area:imageSect;
}

.infoSection {
    grid-area: infoSect;
}

.skillSection {
    grid-area: skillSect;
}

.about-container .about-contents {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-gap: 70px;
    grid-template-areas:    'imageSect infoSect'
                            'skillSect skillSect';
}

.about-contents .imageSection {
    position: relative;
    min-width: 300px;
    height: 380px;
}

.imageSection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.about-contents .imageSection::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    outline: 3px solid #5f5ff6;
    top: 15px;
    left: 15px;
    z-index: 1;
}

.infoSection h1 {
    color: #dedce1;
    font-size: 30px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
}

.infoSection h1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 110%;
    left: 0;
    background-color: #e5e5e5;
}

.infoSection h1::after {
    content: '';
    position: absolute;
    width: 40%;
    height: 3px;
    top: calc(110% - 1px);
    left: 0px;
    background-color: #5f5ff6;
}

.infoSection h2 {
    font-size: 20px;
    font-weight: medium;
    color: #5f5ff6;
    padding: 14px 0px 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.infoSection p {
    color: #e5e5e5;
    font-size: 18px;
    line-height: 1.2;
    text-align: justify;
    padding-bottom: 8px;
}

.personalInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 20px;
    margin-top: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #555;
}

.personalInfo div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.personalInfo div span {
    color: #e5e5e5;
    letter-spacing: 1px;
}

.infoSection button {
    min-width: 150px;
    padding: 8px 18px;
    border: 1px solid #5f5ff6;
    border-radius: 25px;
    font-size: 18px;
    background-color: #2b2a2f;
    color: #e5e5e5;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.4s;
    margin-top: 20px;
}

.infoSection button:hover {
    color: #5f5ff6;
    border-color: #e5e5e5;
}

.skillSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 80px;
}

.subject {
    font-size: 17px;
    font-weight: thin;
    color: #e5e5e5;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.skill-progress-bar {
    width: 100%;
    height: 16px;
    background-color: #6c757d;
    padding: 4px 6px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #444;
    border-radius: 15px;
}

.skill-progress-line {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #5f5ff6;
    box-shadow: -1px -1px 2px #222222,
                -1px -1px 2px #222222;
    border-radius: 15px;
}

.skill-progress-line::after {
    position: absolute;
    content: attr(value);
    top: -35px;
    right: 0px;
    transform: translateX(-50%);
    color: #e5e5e5;
    font-size: 17px;
}

@media(max-width: 1068px) {
    .about-container .about-contents {
        grid-template-areas:    'imageSect skillSect'
                                'infoSect infoSect';
    }
    
    .skillSection {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}

@media(max-width: 868px) {
    .about-container .about-contents {
        grid-template-areas:    'imageSect imageSect'
                                'infoSect infoSect'
                                'skillSect skillSect';
    }
}

@media(max-width: 668px) {
    .personalInfo {
        grid-template-columns: 1fr;
    }
}

/* Skills Section style */
.container {
    width: 100%;
    min-height: 100vh;
    padding: 50px 8%;
}

.container .main-title {
    max-width: 700px;
    margin: 0px auto;
    text-align: center;
}

.container .main-title h1 {
    color: #ffffff;
    position: relative;
    font-size: 40px;
    font-weight: medium;
    margin-bottom: 30px;
    display: inline-block;
}

.container .main-title h1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 125%;
    left: 0;
    background-color: #e5e5e5;
}

.container .main-title h1::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: #5f5ff6;
    top: calc(125% - 1px);
    left: 50%;
    transform: translateX(-50%);
}

.main-title p {
    color: #e5e5e5;
}

.container .row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.row .col {
    flex-basis: 46%;
}

.row .sub-title h2 {
    color: #ffffff;
    position: relative;
    font-size: 22px;
    display: inline-block;
    margin-bottom: 30px;
}

.row .sub-title h2::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    top: 125%;
    left: 0;
    background-color: #e5e5e5;
}

.row .sub-title h2::after {
    content: '';
    position: absolute;
    width: 25%;
    height: 3px;
    top: calc(125% - 1px);
    left: 0;
    background-color: #5f5ff6;
}

.skill .progress-bar {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: #adb5bd;
    border-radius: 15px;
    margin-bottom: 20px;
}

.skill .progress-bar::after {
    position: absolute;
    content: attr(value);
    top: -35px;
    right: 0;
    color: #adb5bd;
    font-size: 18px;
}

.skill .progress-line {
    position: absolute;
    width: 0%;
    height: 7px;
    background-color: #5f5ff6;
    border-radius: 15px;
    top: -1px;
    animation: animate 1.5s cubic-bezier(1, 0.2, 0.2, 1) forwards;
}

@keyframes animate {
    100%{
        width: 100%;
    }
}

.skill .progress-line::after {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    background-color: #5f5ff6;
}

@media(max-width: 768px) {
    .container {
        padding: 50px 6%;
    }
}

@media(max-width: 568px) {
    .container .row {
        flex-direction: column;
        margin-top: 30px;
    }

    .container .main-title h1 {
        font-size: 36px;
    }

    .row .col:nth-child(2) {
        margin-top: 20px;
    }
}

/* Services Section style */
.services-container {
    color: #ffffff;
    width: 100%;
    min-height: 100vh;
    padding: 50px 8%;
}

.services-container h1{
    color: #ffffff;
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 50px;
    padding-bottom: 20px;
}

.services-container h1::before {
    content: '';
    position: absolute;
    width: 20%;
    height: 3px;
    background: #adb5bd;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.services-container h1::after {
    content: '';
    position: absolute;
    width: 10%;
    height: 3px;
    background-color: #5f5ff6;
    bottom: 0;
    left: calc(50% - 1px);
    transform: translateX(-50%);
}

.services-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services-card {
    padding: 25px 10px;
    width: calc(26% - 20px);
    border-radius: 6px;
    background: #222;
    text-align: center;
    user-select: none;
    cursor: pointer;
    transition: all 0.4s ease;
}

.services-card:hover {
    background-color: #3a86ff;
}

.services-box {
    transition: all 0.4s ease;
}

.services-card:hover .services-box {
    transform: scale(1.05);
}

.services-box i {
    font-size: 40px;
    color: #5f5ff6;
    transition: all 0.4s ease;
}

.services-card:hover .services-box i {
    color: #ffffff;
}

.services-box h3 {
    font-size: 20px;
    font-weight: medium;
    padding: 10px 0 7px;
}

@media(max-width: 868px) {
    .services-container {
        padding: 0 25px;
    }

    .services-card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

@media(max-width: 768px) {
    .services-card {
        width: 100%;
    }
}

/* Portofolio Section style */
#portofolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0px;
}

.portofolio-heading {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.portofolio-heading h3 {
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
}

.portofolio-heading span {
    color: #ffffff;
}

.portofolio-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 1px solid #e5e5e5;
    flex-wrap: wrap;
    margin: 20px;
}

.portofolio-filter ul {
    list-style: none;
}

.portofolio-filter li {
    margin: 10px 20px;
    padding: 5px 20px;
    color: #ffffff;
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
}

.portofolio-filter-active {
    background-color: #5f5ff6;
    color: #3a86ff;
    border-radius: 10px;
    transition: all 0.4s;
}

.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.project-box {
    width: 330px;
    padding: 15px;
    border: 1px solid #e5e5e5;
    margin: 20px;
}

.project-box img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}

/* Get in Touch Section style */
#getInTouch {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0px;
    color: #e5e5e5;
}

.getInTouch-container {
    width: 80%;
    background: #222;
    padding: 20px 60px 40px 40px;
    border-radius: 6px;
    box-shadow: 0 5px 10px #5f5ff6;
}

.getInTouch-container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.getInTouch-container .content .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content .left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #5f5ff6;
}

.content .left-side .details {
    margin: 14px;
    text-align: center;
}

.content .left-side .details i {
    font-size: 30px;
    margin-bottom: 10px;
    color: #5f5ff6;
}

.content .left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
    font-size: 14px;
}

.content .right-side {
    width: 75%;
    margin-left: 75px;
}

.content .right-side .topic-text {
    font-size: 25px;
    font-weight: 600;
    color: #5f5ff6;
}

.right-side .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

::placeholder {
    color: #adb5bd;
    font-size: 14px;
    padding: 10px;
}

.right-side .input-box input,
.right-side .input-box textarea {
    font-size: 16px;
    font-weight: 500;
    height: 100%;
    width: 100%;
    border: none;
    background: #555;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.right-side .message-box {
    min-height: 110px;
}

.right-side .button {
    display: inline-block;
    margin-top: 6px;
}

.right-side .button input[type="button"] {
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    background: #5f5ff6;
    padding: 8px 16px;
    transition: all 0.4s ease;
    cursor: pointer;
}

.button input[type="button"]:hover {
    background: #3a86ff;
}

@media(max-width: 952px){
    .getInTouch-container {
        width: 90%;
        padding: 30px 35px 40px 35px;
    }
}

@media(max-width: 820px){
    .getInTouch-container {
        margin: 40px 0;
        height: 100%;
    }

    .getInTouch-container .content {
        flex-direction: column-reverse;
    }

    .getInTouch-container .content .left-side {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .getInTouch-container .content .left-side::before {
        display: none;
    }

    .getInTouch-container .content .right-side {
        width: 100%;
        margin-left: 0;
    }
}

/* Footer Section style */
footer {
    position: absolute;
    background: #111;
    height: auto;
    padding-top: 40px;
    width: 100%;
    color: #e5e5e5;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #adb5bd;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #e5e5e5;
    border: 1.1px solid #6c757d;
    padding: 5px;
    border-radius: 50%;
    width: 35px;
}

.footer-menu ul {
    padding-top: 10px;
    display: flex;
}

.footer-menu ul li {
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a {
    color: #e5e5e5;
    border: 1.3px solid #6c757d;
    padding: 6px 15px;
    border-radius: 50px;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: #5f5ff6;
}

.footer-bottom {
    background: #000;
    margin-top: 20px;
    width: 100vw;
    padding: 10px;
    text-align: center;
}

.footer-bottom p {
    text-align: center;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom p a {
    color: #3a86ff;
    font-size: 16px;
    text-decoration: none;
}